# Não enviar senhas e configurações
.env
backend/.env
frontend/.env

# Não enviar dependências (são baixadas automaticamente)
node_modules/
vendor/bundle/

# Não enviar logs
*.log
logs/

# Não enviar cache
tmp/
.cache/
dist/
build/
.output/
.nuxt/

# Não enviar arquivos do sistema
.DS_Store
Thumbs.db

# Não enviar chave ssh
redminecode
redminecode.pub